<!-- CONTENT START -->
<div class="page-content">

    <!-- Swiper -->
    <div class="twm-slider1-wrap">

        <!-- Swiper -->
        <div class="swiper twm-slider">
            <div class="swiper-wrapper">
                <!--Slide One -->
                <div class="swiper-slide">
                    <div class="h-banner-wrap">
                        <div class="h-banner-left">
                            <div class="h-bnr-top">
                                <h2>
                                    <span class="title-outline">Around</span>
                                    The World
                                </h2>
                                <p>There are many variations of passages of worem Ipsum available, but the majority</p>
                                <a href="services-1.html" class="h-bnr-btn">View Services</a>
                            </div>

                        </div>
                        <div class="h-banner-right">
                            <div class="h-bnr-r-inner">
                                <div class="h-bnr-media">
                                    <img src="~/Homesite/images/main-slider/slider1/plane.png" alt="#" class="slide-top">
                                </div>
                                <div class="h-bnr-animation bg-cover bg-center bg-image-moving" style="background-image:url(~/Homesite/images/main-slider/slider1/bg1.jpg)">

                                </div>
                            </div>
                        </div>
                        <div class="cross-line-box left up-down"><img src="~/Homesite/images/main-slider/slider1/cross-line-box.png" alt="#"></div>
                        <div class="cross-line-box right up-down"><img src="~/Homesite/images/main-slider/slider1/cross-line-box.png" alt="#"></div>
                        <div class="circle-left-top zoon-in-out"></div>
                    </div>
                </div>

                <!--Slide Two -->
                <div class="swiper-slide">
                    <div class="h-banner-wrap">
                        <div class="h-banner-left">
                            <div class="h-bnr-top">
                                <h2>
                                    <span class="title-outline">To Every</span>
                                    Direction
                                </h2>
                                <p>There are many variations of passages of worem Ipsum available, but the majority</p>
                                <a href="services-1.html" class="h-bnr-btn">View Services</a>
                            </div>

                        </div>
                        <div class="h-banner-right">
                            <div class="h-bnr-r-inner">
                                <div class="h-bnr-media">
                                    <img src="~/Homesite/images/main-slider/slider1/truck.png" alt="#" class="slide-top">
                                </div>
                                <div class="h-bnr-animation bg-cover bg-center bg-image-moving" style="background-image:url(~/Homesite/images/main-slider/slider1/bg2.jpg)">

                                </div>
                            </div>
                        </div>
                        <div class="cross-line-box left up-down"><img src="images/main-slider/slider1/cross-line-box.png" alt="#"></div>
                        <div class="cross-line-box right up-down"><img src="images/main-slider/slider1/cross-line-box.png" alt="#"></div>
                        <div class="circle-left-top zoon-in-out"></div>
                    </div>
                </div>

                <!--Slide Three -->
                <div class="swiper-slide">
                    <div class="h-banner-wrap">
                        <div class="h-banner-left">
                            <div class="h-bnr-top">
                                <h2>
                                    <span class="title-outline">Ready</span>
                                    To Move
                                </h2>
                                <p>There are many variations of passages of worem Ipsum available, but the majority</p>
                                <a href="services-1.html" class="h-bnr-btn">View Services</a>
                            </div>

                        </div>
                        <div class="h-banner-right">
                            <div class="h-bnr-r-inner">
                                <div class="h-bnr-media">
                                    <img src="~/Homesite/images/main-slider/slider1/ship.png" alt="#" class="slide-top">
                                </div>
                                <div class="h-bnr-animation bg-cover bg-center bg-image-moving" style="background-image:url(~/Homesite/images/main-slider/slider1/bg3.jpg)">

                                </div>
                            </div>
                        </div>
                        <div class="cross-line-box left up-down"><img src="~/Homesite/images/main-slider/slider1/cross-line-box.png" alt="#"></div>
                        <div class="cross-line-box right up-down"><img src="~/Homesite/images/main-slider/slider1/cross-line-box.png" alt="#"></div>
                        <div class="circle-left-top zoon-in-out"></div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
    <!-- Swiper -->
    <!-- WHAT WE DO SECTION START -->
    <div class="section-full p-t120 p-b90 site-bg-gray tw-what-wedo-area">

        <div class="container">

            <!-- TITLE START-->
            <div class="section-head center wt-small-separator-outer">
                <div class="wt-small-separator site-text-primary">
                    <div>What we do!</div>
                </div>
                <h2 class="wt-title">Specialist Logistics Services</h2>
                <p class="section-head-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry the standard dummy text ever since the  when an printer took.</p>
            </div>
            <!-- TITLE END-->

            <div class="tw-what-wedo-section">

                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12">
                        <div class="tw-what-wedo-media">
                            <img src="images/icons/img1.png" alt="">
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="tw-service-icon-box-wrap">
                            <!-- COLUMNS 1 -->
                            <div class="service-icon-box-two">

                                <div class="service-icon-box-two-media">
                                    <img src="images/icons/pic1.png" alt="#">
                                </div>

                                <div class="service-icon-box-title">
                                    <h3 class="wt-title">
                                        <a href="services-detail.html">
                                            <span class="site-text-primary">01.</span>Road Freight
                                        </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt
                                    </p>
                                </div>

                            </div>

                            <!-- COLUMNS 2 -->
                            <div class="service-icon-box-two">

                                <div class="service-icon-box-two-media">
                                    <img src="images/icons/pic2.png" alt="#">
                                </div>

                                <div class="service-icon-box-title">
                                    <h3 class="wt-title">
                                        <a href="services-detail.html">
                                            <span class="site-text-primary">02.</span>Shipping Freight
                                        </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt
                                    </p>
                                </div>

                            </div>

                            <!-- COLUMNS 3 -->
                            <div class="service-icon-box-two">

                                <div class="service-icon-box-two-media">
                                    <img src="images/icons/pic3.png" alt="#">
                                </div>

                                <div class="service-icon-box-title">
                                    <h3 class="wt-title">
                                        <a href="services-detail.html">
                                            <span class="site-text-primary">03.</span>Air Freight
                                        </a>
                                    </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- WHAT WE DO SECTION END -->
